
/* Main Body */
body{
    text-align: center;
    font-family:"Montserrat";
    font-size:1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat-Bold";
    font-size:2rem;
}

.container-fluid{
    padding:7% 15%;
}

.colored-section {
    background-color: #ffdc34;
    /* ffdc34;yellow */
    /*b6f7c1;green*/
}

.dark-section {
    background-color: #343A40;
}

ul{
    text-decoration: none;
    list-style: none;
}

/* Headings */
.big-heading {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 2.5rem;
    line-height: 1.5;
}

/* Navigation Bar */

.navbar {
    padding: 3.5rem 15%;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
    color:#ffd31d;
}

.active-link{
    color:#ffd31d;
}

.nav-link:hover{
    color:#ffd31d;
}

.nav-item {
    padding: 0 18px;
    
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

.dropdown-toggle{
    padding:0px;
}

.dropdown{
    padding-left:0px;
    padding-right: 0px;
}

/* About */
.project-title{
    font-family: "Ubuntu";
    font-size: 2.0rem;
    line-height:3.5rem;
}

.logo{
    width:75%;
    border-radius:10%;
}

/* Features */
.feature-title {
    font-size: 1.5rem;
}

.feature-box p{
    font-size:1.2rem;
}

.feature-box {
    padding: 4.5%;
    /* font-size: 1.3rem;; */
}

.icon {
    color: #f8615a;
    /* ef8172; */
    margin-bottom: 1rem;
}

.icon:hover {
    color: #b80d57;
}

/* Testimonials */
.colored-text{
    color:#ffd31d;
}

.white-text{
    color:white;
}

/* Pricing */
.card{
 margin:1%;
}

.card-text{
    font-size:1.2rem;
}

.price-text {
    font-size: 2.5rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}

.fluid-container{
    margin-top:4%;
    margin-bottom:7%;
}

.modalInput{
    width:250px;
    padding:7px 20px;
    margin:1% 0;
}

.modal-submit-text{
    margin:2% 0;
}

.modal-button{
    padding:1% 2%;
}


/*Footer*/
.social-icon {
    color: #8f8f8f;
    margin: 20px 10px;
    font-size: 1.5rem;   
}

.social-icon:hover {
    color: #ffd31d;
    /*#23272B;*/
}

.footer-copyright {
    color: #f3c623;
    font-size: 1rem;
}

/* Call to action */
.contact-button {
    margin: 5% 3% 5% 0;
}